{% for listadatosventa in listadatosventa %}
	
	{{listadatosventa.id}} <br>
	{{listadatosventa.Partida}} <br>
	{{listadatosventa.Descripcion}} <br> 
	{{listadatosventa.Concepto}} <br>
	{{listadatosventa.TotalHoras}} <br>
	{{listadatosventa.IngenieroA}} <br>
	{{listadatosventa.TecnicoA}} <br>
	{{listadatosventa.TecnicoB}} <br> 
	{{listadatosventa.Ayudante}} <br> 
	{{listadatosventa.TotalIngenieroA}} <br>
	{{listadatosventa.TotalTecnicoA}} <br>
	{{listadatosventa.TotalTecnicoB}} <br>
	{{listadatosventa.TotalAyud}} <br>
	{{listadatosventa.TotalGen}} <br>

{% endfor %}